.close-keyboard {
  font-weight: $font-weight-bold;
  width: 150px;
  background: $blue-4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background: $gray-8;
    color: $dark;
  }
}

.type-multiple-field-keyboard,
.type-popup-keyboard,
.type-search-list-keyboard,
.type-number-keyboard {
  height: 40%;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 300;
  background: $white;
}

.type-search-keyboard {
  height: 43%;
  width: 100%;
  position: fixed;
  z-index: 300;
  background: $white;
}

.type-number-keyboard {
  height: 30%;

  .number-keyboard {
    .hg-row {
      justify-content: center;
    }

    .hg-button {
      max-width: 330px;
    }
  }

  .close-keyboard {
    right: 12px;
  }
}

.multiple-field-keyboard,
.popup-keyboard,
.search-keyboard,
.search-list-keyboard,
.number-keyboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .hg-row {
    flex: 1;
  }

  &.hg-theme-default .hg-button {
    height: auto !important;
    font-size: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    border: 1px solid $gray-13;
    border-radius: 7px;

    &.hg-button-space {
      margin-right: 155px;
    }

    &.hg-button-bksp,
    &.hg-button-tab,
    &.hg-button-lock,
    &.hg-button-shiftleft,
    &.hg-button-shiftright {
      background-color: $gray;
      border-color: $gray;
      color: $white;

      &:hover {
        color: $dark;
      }
    }

    &:hover {
      background-color: $gray-8;
      border-color: $gray-5;
    }

    &:active {
      transform: scale(0.98);
      border-color: $gray-4;
    }
  }

  &.hg-theme-default.hg-layout-caps .hg-button {
    &.hg-button-lock {
      background-color: $green;
      border-color: $green;

      &:hover {
        color: $white;
      }
    }
  }

  &.hg-theme-default.hg-layout-shift .hg-button {
    &.hg-button-shiftleft,
    &.hg-button-shiftright {
      background-color: $green;
      border-color: $green;

      &:hover {
        color: $white;
      }
    }
  }
}

.number-keyboard {
  .hg-button {
    flex: 1;
  }

  .hg-button-close {
    visibility: hidden;
  }
}

.type-popup-keyboard
  .popup-keyboard.hg-theme-default
  .hg-button.hg-button-space {
  margin-right: 0;
}
