.tab-left {
  flex: 1;
}

.tab-wrapper {
  padding: 3px;
  background: $gray;
  position: relative;
  display: flex;

  .change-tab-bar {
    display: flex;
    background: $white;
    font-size: 24px;
    margin-bottom: 3px;

    .tab-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid $dark;
      }

      &.is-active {
        background: $yellow-3;
        font-weight: $font-weight-bold;
      }
    }
  }
}

.table-page-smallscreen {
  .tab-wrapper {
    height: 47vh;
    flex-direction: column;

    .change-tab-bar {
      height: 16%;
    }
  }
}

.main-smallscreen {
  height: calc(100vh - 55px);

  .tab-wrapper {
    height: 55%;

    .change-tab-bar {
      height: 13%;
    }

    .tab-selected {
      height: 87%;
    }
  }
}
