.to-go-box {
  .to-go-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    .list-item {
      background: $blue-2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 130px;
      border-radius: 10px;
      font-size: 24px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.new-order-to-go {
        background: $green;
      }
    }
  }
}

.table-page-smallscreen {
  .to-go-box {
    height: 35vh;
    background: $gray-6;
  }

  .to-go-list .list-item {
    width: 90px;
    height: 90px;
    font-size: 16px;
  }
}
